body {
    background-color: $dark;
    color: $white;
    font-family: $family-primary;

}

.container {
    padding-top: 140px;
}

.horizontal {
    border-top: 1px solid $info;
    margin: 35px auto;
    width: 60%;
}