#shadow {
  overflow-y: auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3), 0 15px 15px rgba(0, 0, 0, 0.3);
  max-height: 500px;
}
.float {
  float: right !important;
}
.activeColor {
  cursor: default !important;
  color: $info !important;
  &__manage{
    cursor: pointer !important;
  }
  &.active {
    background-color: $secondary !important;
    color: $dark !important;
  }

}
