// Colors
$dark: #0A091B;
$info: #e5e5e5;
$dark-info:#798696;

$primary: #fff82e;
$primary-dark: #e0a800;
$secondary: #51B9DF;
$secondary-dark:#138496;

$warning: #EFB467;
$success: #0dc237;
$danger: #ed3b3b;
$danger-dark:#ca2e2e;
$success-dark: #0f962f;

$white: #fff;
$glow: #0ba9ca;
//icons
$facebook:#45619D;
$twitter:#58AFF1;
$instagram:#C44E7E;

// Fonts
$font-sm: 12px;
$font-md: 14px;
$font-normal: 16px;
$font-lg: 18px;
$font-xl: 20px;

$family-primary: Montserrat;
$family-secondary: 'Open Sans', sans-serif;